<div class="w-full h-screen flex flex-col">
    <div class="topbar h-24 w-full bg-gray-100 px-4 flex justify-between items-center">
        <h2 class="text-2xl font-semibold text-gray-600">{{ boardName }}</h2>
        <div class="flex">
            <button (click)="openNewTask()" class="rounded-full bg-purple-700 text-white p-3">+ Nova tarefa</button>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-4">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Excluir quadro</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="board p-4">
        <div class="example-container">
            <h2 class="text-xl font-semibold">To do</h2>
          
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
                <div class="w-full p-4 border-gray-200 rounded-xl border-2 my-3 flex flex-col" *ngFor="let item of todo" cdkDrag (click)="openTasks()">
                    <h4>{{item}}</h4>
                    <h4 class="text-sm mt-4">1 de 3 tarefas concluídas</h4>
                </div>
            </div>
          </div>
          
          <div class="example-container">
            <h2 class="text-xl font-semibold">Done</h2>
          
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
                <div class="w-full p-4 border-gray-200 rounded-xl border-2 my-3 flex flex-col" *ngFor="let item of done" cdkDrag (click)="openTasks()">
                    <h4>{{item}}</h4>
                    <h4 class="text-sm mt-4">1 de 3 tarefas concluídas</h4>
                </div>
            </div>
          </div>          
    </div>
</div>