.dark {
    background-color: #333;
  }
  
  .dark .text-white {
    color: #fff;
  }
  
  .dark .bg-white {
    background-color: #fff;
  }
  
  .dark .dark\:bg-gray-800 {
    background-color: #333;
  }
  